@model List<JobPosting>

@{
    ViewData["Title"] = "Deine Inserate";
}

<a class="btn btn-primary" asp-controller="JobPosting" asp-action="CreateOrEditJobPosting">Neues Inserat anlegen</a>

<hr />

<table id="jobPostingTable" class="table table-bordered table-striped table-hover pt-2">
    <thead class="table-dark">
        <tr>
            <th>Job Titel</th>
            <th>Ort</th>
            <th>Firmenname</th>
            <th>Aktion</th>
        </tr>
    </thead>

    <tbody>

        @{
            foreach(JobPosting jobPosting in Model)
            {
                <tr>
                    <td>@jobPosting.JobTitle</td>
                    <td>@jobPosting.JobLocation</td>
                    <td>@jobPosting.CompanyName</td>
                    <td>
                        <a class="btn btn-warning" asp-route-id="@jobPosting.Id" asp-controller="JobPosting" asp-action="CreateOrEditJobPosting">Bearbeiten</a>
                        <button onclick="onClickedDeleteButton(@jobPosting.Id)" class="btn btn-danger">Löschen</button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#jobPostingTable').DataTable();
        });

        function onClickedDeleteButton(id) {
            Swal.fire({
                title: 'Soll das Inserat unwiederruflich Gelöscht werden?',
                showDenyButton: true,
                denyButtonText: 'Inserat löschen',
                confirmButtonText: 'Abbrechen',
            }).then((result) => {
                if (result.isDenied) {

                    // Backend call to delete job posting by id
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DeleteJobPostingById")",
                        data: {id: id},
                        success: function (msg) {
                            Swal.fire('Inserat gelöscht', '', 'success').then((result) => {
                                location.reload();
                            })
                        },
                        error: function (msg) {
                            Swal.fire('Das hat leider nicht geklappt', '', 'error')
                        }

                    });
                }
            })
        }
       </script>
}